// START RESET CSS
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
// END RESET

// START BORDER
// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
//END BORDER

// START SCSS VARIABLES
$calc-title-grid-height: 3rem;
$calc-screen-grid-height: clamp(5.5rem, 4.5757rem + 3.9437vw, 8.125rem);
$calc-body-grid-height: clamp(26.25rem, 24.8856rem + 5.8216vw, 30.125rem);
$calc-grid-width: clamp(10.25rem, 7.8952rem + 10.0469vw, 16.9375rem);
$calc-row-gap: 1.563rem;

$font-small: 0.813rem;
$font-default: 2rem;
// END SCSS VARIABLES

//START CSS VARIABLES
:root {
  --theme1-bg: hsl(224, 26%, 31%);
  --theme1-screen-bg: hsl(224, 35%, 15%);
  --theme1-numpad-bg: hsl(225, 30%, 21%);
  --theme1-num-bg: hsl(32, 26%, 89%);
  --theme1-secondary-bg: hsl(224, 21%, 50%);
  --theme1-equal-bg: hsl(6, 64%, 50%);

  --theme1-primary: hsl(0, 0%, 99%);
  --theme1-secondary: hsl(180, 100%, 100%);
  --theme1-button: hsl(7, 64%, 49%);
  --theme1-num: hsl(222, 13%, 31%);
  --theme1-equal: hsl(6, 100%, 98%);

  --default-bg: var(--theme1-bg);
  --default-screen-bg: var(--theme1-screen-bg);
  --default-numpad-bg: var(--theme1-numpad-bg);
  --default-num-bg: var(--theme1-num-bg);
  --default-secondary-bg: var(--theme1-secondary-bg);
  --default-equal-bg: var(--theme1-equal-bg);

  --default-primary: var(--theme1-primary);
  --default-secondary: var(--theme1-secondary);
  --default-button: var(--theme1-button);
  --default-num: var(--theme1-num);
  --default-equal: var(--theme1-equal);
  overflow: hidden;
}
//END CSS VARIABLES

// START PAGE CSS
.container {
  // width: 100vw;
  height: 100vh;
}
// END PAGE CSS

// START CALC CSS
.calc {
  h1 {
    font-size: $font-default;
  }

  font-family: "Spartan", sans-serif;
  font-weight: 700;
  //   font-size: 2rem; //32px

  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, $calc-grid-width);
  grid-template-rows: $calc-title-grid-height $calc-screen-grid-height $calc-body-grid-height;
  place-content: center;
  gap: $calc-row-gap 0;
  background-color: var(--default-bg);

  &__title,
  &__theme {
    align-self: center;
    color: var(--default-primary);
  }
  &__theme {
    font-size: $font-small;
    display: grid;
    grid-template-columns: auto 4.438rem;
    grid-template-rows: 2.875rem;
    place-items: end;
    gap: 0 1.5rem;

    .theme__switch {
      display: grid;
      grid-template-rows: auto 1.688rem;
      place-items: center;

      .switch__number {
        margin: 0 0 0.6rem 0;
        font-size: $font-small - 0.063rem;
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 0 1rem;
      }

      .switch__presets {
        position: relative;
        //71px and 27px
        width: 4.438rem;
        height: 1.688rem;

        #switch1,
        #switch2,
        #switch3 {
          position: absolute;
          z-index: 9;
          -webkit-appearance: none;

          & + label {
            &::after {
              position: absolute;
              content: "";
              width: 20px;
              height: 1.688rem;
              top: 0;
              left: 0;
              z-index: 10;
            }
          }
        }
        #switch1 {
          & + label {
            &::after {
              left: 0.313rem;
            }
          }
          &:checked {
            & ~ .switch__inner {
              background-color: red;
              transition: background-color 200ms ease-in-out;
              &::after {
                left: 0.313rem;
                transition: left 200ms ease-in-out;
              }
            }
          }
        }
        #switch2 {
          & + label {
            &::after {
              left: 1.8rem;
            }
          }
          &:checked {
            & ~ .switch__inner {
              background-color: #fff;
              transition: background-color 200ms ease-in-out;
              &::after {
                left: 1.8rem;
                transition: left 200ms ease-in-out;
              }
            }
          }
        }
        #switch3 {
          & + label {
            &::after {
              left: 3rem;
            }
          }
          &:checked {
            & ~ .switch__inner {
              background-color: green;
              transition: background-color 200ms ease-in-out;
              &::after {
                left: 3rem;
                transition: left 200ms ease-in-out;
              }
            }
          }
        }

        .switch__inner {
          width: 4.438rem;
          height: 1.688rem;
          background-color: #fff;
          // border: solid 1px grey;
          border-radius: 550px;

          &::after {
            position: absolute;
            display: block;
            content: "";
            width: 1rem;
            height: 1rem;
            top: 50%;
            transform: translateY(-50%);
            left: 2;
            background-color: #eee;
            border: solid 1px grey;
            border-radius: 50%;
            transition: left 200ms ease-in-out;
          }
        }
      }
    }
  }
  &__screen {
    background-color: var(--default-screen-bg);
  }
  &__num-pad {
    background-color: var(--default-numpad-bg);
  }

  .col-span2 {
    grid-column: span 2;
  }
}
//END CALC CSS
