// START RESET CSS
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
// END RESET

// START BORDER
// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
//END BORDER

// START SCSS VARIABLES
$calc-title-grid-height: 3.2rem;
$calc-screen-grid-height: clamp(5.5rem, 4.5757rem + 3.9437vw, 8.125rem);
$calc-body-grid-height: clamp(26.25rem, 24.8856rem + 5.8216vw, 30rem);
$calc-grid-width: clamp(10.25rem, 7.8952rem + 10.0469vw, 16.9375rem);
$calc-row-gap: 1.5rem;

$font-small: 12px;
$font-action: 19px;
$font-default: 2rem;
$font-digits: 2rem;
$font-big: 2.7rem;
// END SCSS VARIABLES

//START CSS VARIABLES
:root {
  --theme1-background: hsl(224, 26%, 31%);
  --theme1-theme-radio-bg: hsl(227, 30%, 21%);

  --theme1-screen-bg: hsl(224, 35%, 15%);

  --theme1-numpad-bg: hsl(225, 30%, 21%);
  --theme1-digits-bg: hsl(32, 26%, 89%);
  --theme1-delete-bg: hsl(224, 21%, 50%);
  --theme1-result-bg: hsl(6, 64%, 50%);

  --theme1-logo-screen: hsl(0, 0%, 99%);
  --theme1-theme-select: hsl(212, 19%, 83%);
  --theme1-theme-radio: hsl(7, 64%, 49%);

  --theme1-digits: hsl(222, 13%, 31%);
  --theme1-digits-shadow: hsl(24, 15%, 65%);
  --theme1-delete: hsl(180, 100%, 100%);
  --theme1-delete-shadow: hsl(225, 27%, 35%);
  --theme1-result: hsl(6, 100%, 98%);
  --theme1-result-shadow: hsl(6, 69%, 34%);

  --default-background: var(--theme1-background);
  --default-theme-radio-bg: var(--theme1-theme-radio-bg);

  --default-screen-bg: var(--theme1-screen-bg);

  --default-numpad-bg: var(--theme1-numpad-bg);
  --default-digits-bg: var(--theme1-digits-bg);
  --default-delete-bg: var(--theme1-delete-bg);
  --default-result-bg: var(--theme1-result-bg);

  --default-logo-screen: var(--theme1-logo-screen);
  --default-theme-select: var(--theme1-theme-select);
  --default-theme-radio: var(--theme1-theme-radio);

  --default-digits: var(--theme1-digits);
  --default-digits-shadow: var(--theme1-digits-shadow);
  --default-delete: var(--theme1-delete);
  --default-delete-shadow: var(--theme1-delete-shadow);
  --default-result: var(--theme1-result);
  --default-result-shadow: var(--theme1-result-shadow);

  overflow: hidden;
}
//END CSS VARIABLES

// START PAGE CSS
.container {
  // width: 100vw;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--default-background);
}
// END PAGE CSS

// START CALC CSS
.calc {
  h1 {
    font-size: $font-default;
  }
  font-family: "Spartan", sans-serif;
  font-weight: 700;

  display: grid;
  grid-template-columns: repeat(2, $calc-grid-width);
  grid-template-rows: $calc-title-grid-height $calc-screen-grid-height $calc-body-grid-height;
  justify-content: center;
  gap: $calc-row-gap 0;

  margin: 2rem 0 2rem 0;

  &__title,
  &__theme {
    align-self: center;
    color: var(--default-logo-screen);
  }
  &__theme {
    font-size: $font-small;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2.875rem;
    color: var(--default-theme-select);
    .theme__switch {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto auto;
      place-items: center end;
      gap: 0 1.3rem;

      span {
        letter-spacing: 1px;
        padding-top: 0.1rem;
      }

      .switch__number {
        grid-column-start: 2;
        justify-self: stretch;
        text-align: center;
        font-size: $font-small;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        padding: 0 0.15rem 0.2rem;
      }

      .switch__presets {
        position: relative;
        //71px and 27px
        width: 4.563rem;
        height: 1.688rem;

        #switch1,
        #switch2,
        #switch3 {
          position: absolute;
          z-index: 9;
          -webkit-appearance: none;

          & + label {
            &::after {
              position: absolute;
              content: "";
              width: 20px;
              height: 1.688rem;
              top: 0;
              left: 0;
              z-index: 10;
            }
          }
        }
        #switch1 {
          & + label {
            &::after {
              left: 0.4rem;
            }
          }
          &:checked {
            & ~ .switch__inner {
              background-color: var(--default-theme-radio-bg);
              transition: background-color 200ms ease-in-out;
              &::after {
                left: 0.4rem;
                transition: left 200ms ease-in-out;
              }
            }
          }
        }
        #switch2 {
          & + label {
            &::after {
              left: 1.8rem;
            }
          }
          &:checked {
            & ~ .switch__inner {
              background-color: hsl(338, 9%, 82%);
              transition: background-color 200ms ease-in-out;
              &::after {
                left: 1.8rem;
                transition: left 200ms ease-in-out;
              }
            }
          }
        }
        #switch3 {
          & + label {
            &::after {
              left: 3.2rem;
            }
          }
          &:checked {
            & ~ .switch__inner {
              background-color: hsl(268, 75%, 12%);
              transition: background-color 200ms ease-in-out;
              &::after {
                left: 3.2rem;
                transition: left 200ms ease-in-out;
              }
            }
          }
        }

        .switch__inner {
          width: 4.563rem;
          height: 1.688rem;
          background-color: var(--default-theme-radio);
          border-radius: 1rem;

          &::after {
            position: absolute;
            display: block;
            content: "";
            width: 1rem;
            height: 1rem;
            top: 50%;
            transform: translateY(-50%);
            background-color: var(--default-theme-radio);
            // border: solid 1px grey;
            border-radius: 50%;
          }
        }
      }
    }
  }
  &__screen {
    background-color: var(--default-screen-bg);
    align-content: center;
    justify-content: end;

    font-size: $font-big;
    letter-spacing: 2.4px;
    color: var(--default-logo-screen);

    input {
      font-family: inherit;
      font-size: inherit;
      text-align: end;
      color: inherit;
      letter-spacing: inherit;

      width: 100%;
      padding-right: 0;

      border: none;
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  &__num-pad {
    background-color: var(--default-numpad-bg);
    grid-template-columns: repeat(4, 1fr);
    align-content: center;

    grid-auto-rows: 3.813rem;

    gap: 1.75rem 1.563rem;

    button {
      font-family: inherit;
      color: inherit;
      letter-spacing: inherit;

      border-radius: 0.7rem;
      border: 0;
    }
    .num-pad__digits:not(.num-pad__delete, .num-pad__result) {
      background-color: var(--default-digits-bg);
      color: var(--default-digits);
      box-shadow: 0 4px var(--default-digits-shadow);

      font-size: $font-digits;
    }
    .num-pad__delete,
    .num-pad__result {
      color: var(--default-delete);

      font-size: $font-action;
    }
    .num-pad__delete {
      background-color: var(--default-delete-bg);
      box-shadow: 0 4px var(--default-delete-shadow);
    }
    .num-pad__result {
      background-color: var(--default-result-bg);
      box-shadow: 0 4px var(--default-result-shadow);
    }
  }

  .grid {
    display: grid;
    padding: 1.938rem;
  }

  .col-span2 {
    grid-column: span 2;
  }
  .border {
    border-radius: 0.6rem;
  }
}
//END CALC CSS
