@use "./variables" as lv;

/* Foreach font-size make a new class */
@each $class, $font-size in lv.$font-sizes {
  .#{$class} {
    font-size: #{$font-size};
  }
}

.border {
  border-radius: 0.6rem;
}
.border-1 {
  border-radius: 1rem;
}

.calc {
  button {
    /* Default button props */
    box-sizing: border-box;

    font-family: inherit;
    letter-spacing: inherit;

    border-radius: lv.$digits-border-r;
    border: 0;

    // padding-top: 0.425rem;

    &:active {
      box-shadow: 0 4px rgba(255, 255, 255, 0.404);
    }
  }
}
